[submodule "zsh.symlink"]
	path = zsh.symlink
	url = git@github.com:grndlvl/oh-my-zsh.git
[submodule "vim.symlink/bundle/pathogen"]
	path = vim.symlink/bundle/pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim.symlink/bundle/fugitive"]
	path = vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim.symlink/bundle/irblack"]
	path = vim.symlink/bundle/irblack
	url = https://github.com/wesgibbs/vim-irblack
[submodule "vim.symlink/bundle/nerdcommenter"]
	path = vim.symlink/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim.symlink/bundle/snipmate"]
	path = vim.symlink/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim.symlink/bundle/numbertoggle"]
	path = vim.symlink/bundle/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle
[submodule "drush.symlink/vimrc"]
	path = drush.symlink/vimrc
	url = http://git.drupal.org/project/vimrc.git
[submodule "vim.symlink/bundle/tagbar"]
	path = vim.symlink/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
